
.navbar_bg{
  background-color:rgba(46, 43, 62, 0.952);
}

.bg_cards{
  background-color:rgba(46, 43, 62, 0.952);
}
.bg_Todo_Doing_done{
  background-color:rgba(49, 44, 75, 0.952);
}
.btn_Addtask{
  background-color:rgba(49, 44, 75, 0.952);
}
.bg_cards:hover{
  cursor: pointer;
  background-color: red;
}